:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
}

body {
  margin: 0;
  font-family: "Epilogue", sans-serif;;
}

p {
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}