:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
}
html {
  font-size: 18px;
}
body {
  margin: 0;
  font-family: "Epilogue", sans-serif;;
  background-color: var(--AlmostWhite);
  color: var(--MediumGray);
}

p {
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}


.container {
  padding: 1.27em 5%;
}


.btn {
  padding: .77em 1.27em;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  border-radius: 16px;
  transition: color 300ms;
  cursor: pointer;
}

